<%-include("./partials/header") %>
<h1>
	Login Page
</h1>
<form action="/login" method="POST"><!-- It describe the action the form will do	 -->
	<input type="text" name ="username" placeholder="username">
	<input type="password" name = "password" placeholder="password">
	<button>
		Log in~
	</button>
</form>

<li><a class = "btn btn-success" href="/register">Don't have an account? Sign up!</a></li>

<%-include("./partials/footer") %>