<%-include("./partials/header") %>
<h1>
	Sign Up form
</h1>
<form action="/register" method="POST"><!-- It describe the action the form will do	 -->
	<input type="text" name ="username" placeholder="username">
	<input type="password" name = "password" placeholder="password">
	<button>
		Sign up
	</button>
</form>

<%-include("./partials/footer") %>