<h1>
	Sign Up form
</h1>
<form action="/register" method="POST"><!-- It describe the action the form will do	 -->
	<input type="text" name ="username" placeholder="username">
	<input type="password" name = "password" placeholder="password">
	<button>
		Submitt!
	</button>
</form>

<li><a href="/register">Sign up?</a></li>
<li><a href="/login">Log in?</a></li>
<li><a href="/logout">Log out?</a></li>